Source: libdisplaycore-driver-pg25664cg
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-pg25664cg
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
XBSC-Subsubgroup: OLED
Depends: libdisplaycore-core
Provides: PG25664CG.h
Description: PG25664CG
 The PG25664CG is a 256x64 OLED display based on the SSD1322
 display chip. It provides 4-bit grayscale operation with
 nibble packing of the data.  Consequently it requires an
 8KB internal buffer for ease of operation.



